@media all and (max-width: 1176px) {
  .container {
    width: 960px;
  }

  main {
    width: 80%;
  }

  /* BANER */

  .baner {
    width: 100%;
  }

  /* TABS */

  .tabs__title {
    font-size: 14px;
    text-align: center;
  }
  .tabs__subtitle {
    display: none;
  }
  .tabs__link {
    padding: 15px;
  }

  /* SUBSCRIBE */

  .subscribe {
    padding: 30px 10px;
  }
  .subscribe__wrapper {
    width: 410px;
  }
  .subscribe__form {
    padding: 10px 0;
  }

  /* POSTS */

  .posts {
    justify-content: space-evenly;
  }
  .posts__card {
    width: 170px;
  }
}
@media all and (max-width: 991px) {
  .container {
    width: 720px;
  }

  main {
    width: 100%;
  }

  /* ASIDE */

  .aside {
    width: 100%;
    justify-content: space-evenly;
    flex-direction: initial;
    margin-bottom: 30px;
  }
  .aside__menu {
    display: flex;
  }
  .aside__link {
    padding: 10px;
  }
  .aside__list-item {
    margin: 0 20px;
    padding: 40px 0 0;
  }
  .aside__list-item:first-child {
    background: url('../../icons/food-icon.svg') no-repeat center top;
  }
  .aside__list-item:nth-child(2) {
    background: url('../../icons/blog-icon.svg') no-repeat center top;
  }
  .aside__list-item:nth-child(3) {
    background: url('../../icons/a-list-icon.svg') no-repeat center top;
  }
  .aside__list-item:nth-child(4) {
    background: url('../../icons/camera-icon.svg') no-repeat center top;
  }
  .aside__list-item:nth-child(5) {
    background: url('../../icons/about-icon.svg') no-repeat center top;
  }
  .aside__link {
    margin: 0;
  }
  .aside__tweet {
    display: none;
  }

  /* SUBSCRIBE */

  .subscribe__descr {
    font-size: 12px;
  }

  /* POSTS */

  .posts__card {
    width: 150px;
  }
  .posts__descr {
    font-size: 12px;
  }
}
@media all and (max-width: 767px) {
  .container {
    width: 90%;
  }

  /* BANER */

  .baner__descr {
    margin-bottom: 0;
  }
  .baner__title {
    width: 100%;
    background: rgb(255, 255, 255, 60%);
  }
  .baner__subtitle {
    width: 100%;
  }

  /* ASIDE */

  .aside {
    justify-content: space-between;
  }
  .aside__icon {
    width: 95px;
    margin: 0;
  }
  .aside__link {
    font-size: 12px;
  }
  .aside__list-item {
    background: none !important;
    margin: 0;
    padding: 0px 0 0;
    align-items: center;
  }

  /* TABS */

  .tabs {
    display: none;
  }

  /* SUBSCRIBE */

  .subscribe {
    flex-wrap: wrap;
  }
  .subscribe__form {
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
  }
  .subscribe__input {
    width: 250px;
  }

  /* POSTS */

  .posts {
    flex-wrap: wrap;
  }
  .posts__card {
    width: 45%;
    margin-bottom: 20px;
  }
  .posts__title {
    font-size: 14px;
  }
  .posts__descr {
    margin-bottom: 60px;
  }
  .posts__footer {
    margin: auto 0 0;
  }

  /* FOOTER */

  .footer {
    width: 90%;
    margin: 0 auto;
  }
}
@media all and (max-width: 479px) {
  .container {
    width: 100%;
    padding: 20px 0;
  }

  /* ASIDE */

  .aside {
    flex-direction: column-reverse;
  }
  .aside__menu {
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .aside__link {
    padding: 8px;
  }

  /* BANER */

  .baner__title {
    font-size: 16px;
  }
  .baner__subtitle {
    font-size: 9px;
  }

  /* SUBSCRIBE */

  .subscribe__descr {
    font-size: 11px;
  }
  .subscribe__input {
    width: 190px;
  }

  /* POSTS */

  .posts__card {
    width: 70%;
  }
  .posts__title {
    min-height: initial;
  }
  .posts__descr {
    margin-bottom: 15px;
  }

  /* FOOTER */

  .footer__icon {
    width: 20px;
    height: 20px;
  }
  .footer__link {
    font-size: 11px;
  }
  .footer__links li {
    padding-right: 7px;
  }
  .footer__copyright {
    font-size: 11px;
  }
}
