.tabs {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  &__list-item {
    max-width: 224px;
    flex: 1;
  }
  &__link {
    display: block;
    background: $secondary;
    padding: 25px;
    border-left: 1px solid $smokie;
    border-right: 1px solid $smokie;
    transition: all 0.3s;
    min-height: 100%;
    &:hover {
      background: $secondaryHover;
      border-left: 1px solid $secondaryHover;
      border-right: 1px solid $secondaryHover;
      text-decoration: none;
    }
    &:active {
      background: $secondary;
    }
  }
  &__title {
    font-size: 18px;
  }
  &__subtitle {
    font-size: 10px;
    @include mainFont;
  }
}
