@mixin mainFont {
  font-family: $primaryFont;
  font-style: italic;
  font-weight: normal;
}

@mixin font {
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: normal;
}

@mixin borderSolid {
  border: 1px solid $smokie;
}

@mixin borderDashed {
  border: 1px dashed $smokie;
}
@mixin gradientBgr {
  background: $gradientPrimary;
}

@mixin gradientBgrHover {
  background: $gradientPrimaryHover;
}
