.aside {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__icon {
  margin-bottom: 20px;
  transition: all 0.3s;
}

.aside__icon:hover {
  transform: scale(1.04);
}

.aside__icon:active {
  transform: scale(1);
}

.aside__link {
  margin-left: 40px;
  font-size: 14px;
  font-style: italic;
}

.aside__list-item {
  display: flex;
  align-items: baseline;
  padding: 5px 5px 40px;
  background: no-repeat center top;
}

.aside__list-item:first-child {
  background: url('../../icons/food-icon.svg') no-repeat left top;
}
.aside__list-item:nth-child(2) {
  background: url('../../icons/blog-icon.svg') no-repeat left top;
}
.aside__list-item:nth-child(3) {
  background: url('../../icons/a-list-icon.svg') no-repeat left top;
}
.aside__list-item:nth-child(4) {
  background: url('../../icons/camera-icon.svg') no-repeat left top;
}
.aside__list-item:nth-child(5) {
  background: url('../../icons/about-icon.svg') no-repeat left top;
}

.aside__wrapper:last-child {
  margin-top: 10px;
}

.aside__title {
  font-family: 'Verdana Regular';
  font-size: 12px;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #e5e5e5;
}

.aside__button {
  position: relative;
  font-size: 10px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 5px;
  color: #34aca7;
  font-style: italic;
  cursor: pointer;
  background: transparent;
  display: block;
  width: 100%;
  transition: all 0.3s;
}

.aside__button:hover {
  background: #34aca7;
  color: white;
  text-decoration: none;
}

.aside__button:active {
  transform: scale(1);
}

.aside__button::before {
  content: '';
  background: url(../../icons/twitter-green-icon.svg) no-repeat center/cover;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 7px;
  top: 7px;
}

.aside__descr {
  font-size: 10px;
  font-style: italic;
  line-height: 20px;
  margin-bottom: 10px;
}
