.posts {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.posts__card {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.posts__img {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 2px rgb(0 0 0 / 50%);
  margin-bottom: 10px;
}

.posts__title {
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #34aca7;
  margin-bottom: 10px;
  min-height: 40px;
}

.posts__descr {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.posts__date {
  font-size: 14px;
  color: #e5e5e5;
}

.posts__link {
  font-size: 14px;
}

.posts__link::before {
  content: '/';
  color: #e5e5e5;
}
