.subscribe {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 0;
    top: 20px;
    border: 1px dashed $smokie;
  }
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 20px;
    border: 1px dashed $smokie;
  }
  &_layout {
    padding: 30px 20px;
  }
  &__wrapper {
    max-width: 530px;
    background: url(../icons/mail-icon.svg) no-repeat left center;
    padding-left: 40px;
    display: flex;
    align-items: center;
  }
  &__descr {
    font-size: 14px;
    @include mainFont;
    line-height: 16px;
  }
  &__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 5px 0;
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__input {
    width: 160px;
    border: 1px solid $smokie;
    padding: 5px;
    &::placeholder {
      font-size: 10px;
      color: $smokie;
    }
  }
  &__button {
    background: $gradient;
    border: 1px solid $smokie;
    min-width: 80px;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: $gradientHover;
    }
    &:active {
      background: $gradient;
    }
  }
}
