.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tabs__list-item {
  max-width: 224px;
  flex: 1;
}

.tabs__link {
  display: block;
  background: #eff8f7;
  padding: 25px;
  border-left: 1px solid #f9fbfb;
  border-right: 1px solid #f9fbfb;
  transition: all 0.3s;
}

.tabs__link:hover {
  background: #d9efec;
  border-left: 1px solid #d9efec;
  border-right: 1px solid #d9efec;
  text-decoration: none;
}

.tabs__link:active {
  background: #eff8f7;
}

.tabs__title {
  font-size: 18px;
}

.tabs__subtitle {
  font-size: 10px;
  font-style: italic;
}
