.aside {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    margin-bottom: 20px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.04);
    }
    &:active {
      transform: scale(1);
    }
  }
  &__list-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }
  &__link {
    font-size: 14px;
    font-style: italic;
    padding: 20px 20px 20px 50px;
  }
  &_tastemakers {
    background: url('../icons/food-icon.svg') no-repeat left center;
  }
  &_blog {
    background: url('../icons/blog-icon.svg') no-repeat left center;
  }
  &_alist {
    background: url('../icons/a-list-icon.svg') no-repeat left center;
  }
  &_contribute {
    background: url('../icons/camera-icon.svg') no-repeat left center;
  }
  &_about {
    background: url('../icons/about-icon.svg') no-repeat left center;
  }
  &__wrapper:last-child {
    margin-top: 10px;
  }
  &__title {
    font-family: 'Verdana Regular';
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #e5e5e5;
    display: block;
  }
  &__button {
    position: relative;
    font-size: 10px;
    padding: 10px 10px 10px 20px;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #34aca7;
    font-style: italic;
    cursor: pointer;
    background: transparent;
    display: block;
    width: 100%;
    transition: all 0.3s;
    &:hover {
      background: #34aca7;
      color: white;
      text-decoration: none;
    }
    &:active {
      transform: scale(1);
    }
    &::before {
      content: '';
      background: url(../icons/twitter-green-icon.svg) no-repeat center/cover;
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 7px;
      top: 7px;
    }
  }
  &__descr {
    font-size: 10px;
    font-style: italic;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
