@font-face {
  font-family: 'Verdana Regular';
  src: url('Verdana.eot');
  src: url('Verdana.eot?#iefix') format('embedded-opentype');
  src: url('Verdana.ttf') format('ttf');
  // src: url('Verdana.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
