.subscribe {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 30px 20px;
  &::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 0;
    top: 20px;
    border: 1px dashed #e5e5e5;
  }
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    height: 0;
    bottom: 20px;
    border: 1px dashed #e5e5e5;
  }
  &__wrapper {
    max-width: 530px;
    background: url(../icons/mail-icon.svg) no-repeat left center;
  }
  &__descr {
    font-size: 14px;
    font-style: italic;
    margin-left: 50px;
    line-height: 16px;
  }
  &__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    padding: 5px 0;
  }
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__input {
    width: 160px;
    border: 1px solid #e5e5e5;
    padding: 5px;
    &::placeholder {
      font-size: 10px;
      color: #e5e5e5;
    }
  }
  &__button {
    background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
    border: 1px solid #e5e5e5;
    min-width: 80px;
    border-radius: 2px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: linear-gradient(180deg, #fffefe 0%, #d6d5d5 100%);
    }
    &:active {
      background: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
    }
  }
}
