$primary: #34aca7;
$secondary: #eff8f7;
$secondaryHover: #d9efec;
$smokie: #e5e5e5;
$gradientPrimary: linear-gradient(180deg, #f4f3f3 0%, #bbb9b9 100%);
$gradientPrimaryHover: linear-gradient(180deg, #fffefe 0%, #d6d5d5 100%);
